name: CD-2-Almacen-Ejecutables
on: [workflow_dispatch]
jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'zulu'
      - name: Build WAR
        run: mvn package -DskipTests # Omite tests para rapidez 
      - uses: actions/upload-artifact@v4
        with:
          name: Demo4-TypingTest-WAR
          path: target/*.war # Sube el ejecutable 