name: CD-4-Javadoc-Pages
on: [workflow_dispatch]

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'zulu'
          cache: 'maven'
          
      - name: Generar Javadoc
        # CORRECCIÓN: Compilamos primero y usamos la versión 3.6.3 del plugin explícitamente
        run: mvn -B clean compile org.apache.maven.plugins:maven-javadoc-plugin:3.6.3:javadoc -Ddoclint:none
        
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: target/site/apidocs
          branch: gh-pages