name: CI-2-Filtro-Desarrollo
on:
  push:
    branches: [ "feature-dev" ] # Solo en esta rama 
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'zulu'
      - name: Compilar y Test
        run: mvn test